body {
    color: #2c3e50;
    margin: .5em;
}

#cv-container a {
    color: #2c3e50;
    text-decoration: none;
}

#cv-container a:hover {
    color: #27ae60;
}

#cv-container .axis path, .axis line {
    fill: none;
    stroke: #2c3e50;
    shape-rendering: crispEdges;
}

.cv-row {
    width: 100%;
}

.cv-column {
    display: inline-block;
}

#cv-container {
    background-color: #fff;
}

#cv-timeline {
    font-family: 'EB Garamond';
    font-size: 13pt;
    font-weight: 400;
    fill: #000;
    background-color: #fff;
}

#cv-description {
    overflow: scroll;
}

#cv-timeline-container {
    position: fixed;
    bottom: 0;
    overflow: scroll;
    border-top: 2pt solid #2c3e50;
}

.cv-timeline-professional-experience {
    fill: #27ae60;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.cv-timeline-academic-experience {
    fill: #2c3e50;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.cv-description-section-header {
    margin-top: 1em;
    margin-bottom: .5em;
    font-family: 'Raleway';
    font-weight: 100;
    text-transform: uppercase;
    font-size: 20pt;
    color: #27ae60;
}

.cv-description-header-name {
    font-family: Raleway;
    font-weight: 100;
    font-size: 48pt;
    text-transform: uppercase;
    color: #27ae60;
}

.cv-description-header-summary {
    font-family: 'EB Garamond';
    font-size: 13pt;
}

.cv-description-header-email {
    font-size: 32pt;
}

.cv-description-header-github {
    font-size: 32pt;
}

.cv-description-header-linkedin {
    font-size: 32pt;
}

.cv-description-professional-experience-dates {
    text-align: right;
}

.cv-description-professional-experience {
    font-family: 'EB Garamond';
    font-size: 13pt;
    padding: .2em;
    cursor: pointer;
    border-left: 5pt solid white;
}

.cv-description-professional-experience .pure-g {
    font-family: 'EB Garamond';
    font-size: 13pt;
}

.cv-description-professional-experience {
    font-family: 'EB Garamond';
    font-size: 13pt;
}

.cv-description-professional-experience-lines {
    margin-left: 1em;
}


.cv-description-education-degree {
    padding: .2em;
}

.cv-description-education-degree-dates {
    text-align: right;
}

.cv-description-education-degree {
    font-family: 'EB Garamond';
    font-size: 13pt;
    cursor: pointer;
    border-left: 5pt solid white;
}

.cv-description-education-degree-lines {
    margin-left: 1em;
}

.cv-description-academic-experience {
    padding: .2em;
}

.cv-description-academic-experience-dates {
    text-align: right;
}

.cv-description-academic-experience {
    font-family: 'EB Garamond';
    font-size: 13pt;
    cursor: pointer;
    border-left: 5pt solid white;
}
